<h3><%= @venue.name %>, <small><%= @venue.location %></small></h3>
<p>Capacity: <%= @venue.capacity %></p>
<p>Upcoming gigs: 
  <% gigs = @venue.gigs %>
  <% if !gigs.empty? %>
    <% gigs.each do |gig| %>
      <br><%= link_to gig.act.name, gig_path(gig) %> - <%= gig.start_time.to_date %>
    <% end %>
  <% else %>
    None
  <% end %>
</p>