<h3><%= @venue.name %>, <small><%= @venue.location %></small></h3>

<% if @venue.longitude and @venue.latitude %>
<script>
function initialize() {
        var position = {lat: <%= @venue.latitude %>, lng: <%= @venue.longitude %>}
        var mapCanvas = document.getElementById('map');
        var mapOptions = {
            center: position,
            zoom: 16,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(mapCanvas, mapOptions)
        var marker = new google.maps.Marker({
            position: position,
            map: map,
            title: '<%= @venue.name %>'
        });
    }
    google.maps.event.addDomListener(window, 'load', initialize);
</script>
<div id='map' style='width: 500px; height: 400px;'></div>
<% end %>


<p>Capacity: <%= @venue.capacity %></p>
<p>Upcoming gigs: 
<% gigs = @venue.gigs %>
<% if !gigs.empty? %>
    <% gigs.each do |gig| %>
        <br><%= link_to gig.act.name, gig_path(gig) %> - <%= gig.pretty_start_date %>
    <% end %>
  <% else %>
      None
  <% end %>
</p>
