<header class='fancy-header'>
  <form>
    <input type='text' placeholder='Search...'>
    <button><%= image_tag '/SearchButton.png' %></button>
    <!-- <input type="image" src="SearchButton.png" alt="Submit"> -->
  </form>
</header>

<article class='gig-cards'>
  <% @gigs.each do |gig| %>
    <div>
      <h3><%= gig.act.name %> - Live at <%= gig.venue.name %></h3>
      <%= image_tag gig.act.image %>
      <p class='gig-small'><%= gig.start_time %></p>
      <p class='gig-small'>£<%= gig.price %></p>
      <p><%= gig.act.description %></p>
      <%= form_for @booking do |f| %>
        <%= f.hidden_field :gig_id, value: gig.id %>
        <%= f.submit 'Book Now' %>
      <% end %>
    </div>
  <% end %>
</article>