<% current_user ||= User.new %>

<header class='fancy-header'>
  <form action="/search" method="get">
    <input name='term' type='text' placeholder='Search...' value='<%= params[:term] %>'>
    <button><%= image_tag '/SearchButton.png' %></button>
  </form>
</header>

<article class='gig-cards'>
  <% @gigs.each do |gig| %>
    <div>
      <a href="/gigs/<%= gig.id %>"><%= image_tag gig.act.image %></a>
      <h3><%= gig.act.name %> - Live at <%= gig.venue.name %></h3>
      <p class='gig-small'><%= gig.pretty_start %></p>
      <p class='gig-small'>£<%= gig.price %></p>
      <p><%= gig.paragraph %></p>
      <table>
        <% gig.reviews.sample(3).each do |review| %>
            <tr>
                <% review.stars_range.each do %>
                    <td class="star"></td>
                <% end %>
                <% review.no_stars_range.each do %>
                    <td class="no-star"></td>
                <% end %>
                <td><%= review.content %></td>
            </tr>
        <% end %>
      </table>
      <% if gig.full? %>
          <form>
            <input type='submit' disabled value='Sold Out' class='sold-out'>
          </form>
      <% else %>
        <%= form_for @booking do |f| %>
            <%= f.hidden_field :gig_id, value: gig.id %>
            <%= f.submit 'Book Now', data: current_user.booking_warnings(gig) %>
        <% end %>
       <% end %>
    </div>
  <% end %>
</article>
