<header class='fancy-header'>
  <form action="/search" method="get">
    <input name='term' type='text' placeholder='Search...'>
    <button><%= image_tag '/SearchButton.png' %></button>
    <!-- <input type="image" src="SearchButton.png" alt="Submit"> -->
  </form>
</header>

<article class='gig-cards'>
  <% @gigs.each do |gig| %>
    <div>
      <%= image_tag gig.act.image %>
      <h3><%= gig.act.name %> - Live at <%= gig.venue.name %></h3>
      <p class='gig-small'><%= gig.start_time %></p>
      <p class='gig-small'>£<%= gig.price %></p>
      <p><%= gig.act.name %> are playing live at <%= gig.venue.name %> on <%= gig.start_time.to_date %>.  Tickets cost £<%= gig.price %>, book your now before they sell out.</p>
      <table>
        <tr>
          <td class="star"></td>
          <td class="star"></td>
          <td class="star"></td>
          <td class="star"></td>
          <td class="no-star"></td>
          <td>The daily mail: Brilliant set to go and see live!</td>
        </tr>
        <tr>
          <td class="star"></td>
          <td class="star"></td>
          <td class="star"></td>
          <td class="star"></td>
          <td class="no-star"></td>
          <td>Rolling Stones: They might be old but boy can they still put on a good show.</td>
        </tr>
        <tr>
          <td class="star"></td>
          <td class="star"></td>
          <td class="star"></td>
          <td class="star"></td>
          <td class="star"></td>
          <td>The Sun: A must see!!!</td>
        </tr>
      </table>
      <%= form_for @booking do |f| %>
        <%= f.hidden_field :gig_id, value: gig.id %>
        <% if Booking.user_booked_gig? current_user, gig %>
          <%= f.submit 'Book Now', data: {:confirm => 'You already have a ticket for this gig are you sure you want another?'} %>
        <% else %>
          <%= f.submit 'Book Now' %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</article>