<h2 style="text-align: center;">Setup Gig</h2>
<%= form_for @gig do |f| %>
    <table class='gig-form'>
        <tr>
            <td>
                <h3>Select Act</h3>
            </td>
            <td>
                <h3>Act Details</h3>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <%= f.collection_select(:act_id, Act.all, :id, :name, {:selected => Act.first.id}, { size: Act.count, onchange: "act_change()" }) %>
                </div>
            </td>
            <td>
                <% Act.all.each do |act| %>
                    <div id='act_<%= act.id %>' class='hidden'>
                        <h4><%= act.name %></h4>
                        <%= image_tag act.image %>
                    </div>
                <% end %>
           </td>
        </tr>
        <tr>
            <td>
                <h3>Venue Details</h3>
            </td>
            <td>
                <h3>Select Venue</h3>
            </td>
        </tr>
        <tr>
            <td>
                <% Venue.all.each do |venue| %>
                    <div id='venue_<%= venue.id %>' class='hidden'>
                        <h4><%= venue.name %></h4>
                        <p>Location: <%= venue.location %></p>
                        <p>Capacity: <%= venue.capacity %></p>
                    </div>
                <% end %>

            </td>
            <td>
                <div>
                    <%= f.collection_select(:venue_id, Venue.all, :id, :name, {:selected => Venue.first.id}, { size: Venue.count, onchange: "venue_change()" }) %>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <h3>Select Timeslot</h3>
            </td>
            <td>
                <h3>Tickets</h3>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <%= f.label :start_time %><br><%= f.text_field :start_time, id: "start_time" %><br>
                    <%= f.label :end_time %><br><%= f.text_field :end_time, id: "end_time" %><br>
                    <script>
jQuery('#start_time').datetimepicker({
    format:'d/m/Y H:i',
});
jQuery('#end_time').datetimepicker({
    format:'d/m/Y H:i',
});
                    </script>
                </div>
            </td>
            <td>
                <div>
                    <%= f.label :capacity, 'Number of tickets' %><br><%= f.number_field :capacity %><br>
                    <%= f.label :price, 'Price per ticket' %><br><%= f.number_field :price, step: 0.01%><br>
                </div>
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td><br><br><%= f.submit 'Create Gig' %></td>
        </tr>
    </table>
<% end %>

<script>
    function act_change() {
        var act_select = document.getElementsByName("gig[act_id]")[0];
        var act_select_value = act_select.options[act_select.selectedIndex].value;
        for (var i = 0; i < act_select.options.length; i++) {
            document.getElementById('act_' + act_select.options[i].value).className = 'hidden';
        }
        document.getElementById('act_' + act_select_value).className = 'showing';
    } 
    act_change()
</script>

<script>
    function venue_change() {
        var venue_select = document.getElementsByName("gig[venue_id]")[0];
        var venue_select_value = venue_select.options[venue_select.selectedIndex].value;
        for (var i = 0; i < venue_select.options.length; i++) {
            document.getElementById('venue_' + venue_select.options[i].value).className = 'hidden';
        }
        document.getElementById('venue_' + venue_select_value).className = 'showing';
    } 
    venue_change();
</script>
