<div class='gig-show-card'>
  <h1><%= @gig.act.name %> ****</h1>
  <div class='gig-show-img'>
    <%= image_tag @gig.act.image %>
    <p>Date: <%= @gig.start_time.to_date %></p>
    <p>Time: <%= @gig.start_time.to_s(:time) %></p>
    <p>Seats Left: <%= @gig.available_spaces %></p> <!-- TODO -->
  </div>
  <p><%= @gig.act.name %> are playing live at <%= @gig.venue.name %> on <%= @gig.start_time.to_date %>.  Tickets cost £<%= @gig.price %>, book your now before they sell out.</p>
  <a href="#">More about <%= @gig.act.name %></a><!-- TODO -->
  <a href="#"><%= @gig.act.name %> at other venues</a><!-- TODO -->
  <a href="#">See what others have said about this act</a><!-- TODO -->
  <%= form_for @booking do |f| %>
    <%= f.hidden_field :gig_id, value: @gig.id %>
    <% if Booking.user_booked_gig? current_user, @gig %>
      <%= f.submit 'Book Now', data: {:confirm => 'You already have a ticket for this gig are you sure you want another?'} %>
    <% else %>
      <%= f.submit 'Book Now' %>
    <% end %>
  <% end %>
</div>