<div class='gig-show-card'>
  <ul>
    <li><h1><%= @gig.act.name %></h1></li>
    <li class="star"></li>
    <li class="star"></li>
    <li class="star"></li>
    <li class="star"></li>
    <li class="no-star"></li>
  </ul>
  <div class='gig-show-img'>
    <%= image_tag @gig.act.image %>
    <p>Date: <%= @gig.pretty_start_date %></p>
    <p>Time: <%= @gig.start_time.to_s(:time) %></p>
    <p>Seats Left: <%= @gig.available_spaces %></p> 
  </div>
  <p><%= @gig.act.name %> are playing live at <%= @gig.venue.name %> on <%= @gig.full_start %>.  Tickets cost £<%= @gig.price %>, book your now before they sell out.</p>
  <%= link_to "More about #{@gig.act.name}", act_path(@gig.act) %>
  <a href="/search?term=<%= @gig.act.name %>"><%= @gig.act.name %> at other venues</a><!-- TODO -->
  <a href="#">See what others have said about this act</a><!-- TODO -->
  <% if @gig.full? %>
      <input type='submit' disabled value='Sold Out' class='sold-out'>
  <% else %>
      <%= form_for @booking do |f| %>
          <%= f.hidden_field :gig_id, value: @gig.id %>
          <% if Booking.user_booked_gig? current_user, @gig %>
              <%= f.submit 'Book Now', data: {:confirm => 'You already have a ticket for this gig are you sure you want another?'} %>
          <% else %>
              <%= f.submit 'Book Now' %>
          <% end %>
      <% end %>
  <% end %>
</div>

<div class="gig-review">
  <ul>
    <li><h3>Joe Bloggs - 01/01/2016</h3></li>
    <li class="star"></li>
    <li class="star"></li>
    <li class="star"></li>
    <li class="star"></li>
    <li class="star"></li>
  </ul>
  <p>A five star performance, and to be honest I expected nothing less.  I would highly recommedn goning to see AC DC to anyone and hope to see them again at some point in the future!!!</p>
</div>
