<!DOCTYPE html>
<html>
    <head>
        <title>Gigbanana</title>
        <link rel="stylesheet" type="text/css" href="/normalize.css">
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
        <script src="https://maps.googleapis.com/maps/api/js"></script>
    </head>
    <header class="main-header">
        <table>
            <tr>
                <td>
                    <h1><a href="/">Gig<span>banana</span></a></h1>
                </td>
                <% if current_user %>
                    <td>
                        <%= link_to fa_icon('ticket 2x', title: 'My Bookings', text: 'My Bookings'), bookings_path %>
                    </td>
                <% end %>
                <td>
                    <%= link_to fa_icon('music 2x', title: 'Gigs', text: 'Gigs'), gigs_path %>
                </td>
                <td>
                    <%= link_to fa_icon('microphone 2x', title: 'Acts', text: 'Acts'), acts_path %>
                </td>
                <td>
                    <%= link_to fa_icon('map-marker  2x', title: 'Venues', text: 'Venues'), venues_path, method: :get %>
                </td>
                <% if current_user %>
                    <% if current_user.role? 'admin' %>
                        <td>
                            <%= link_to fa_icon('pencil 2x', title: 'Admin Actions', text: 'Admin Actions'), '/admins/actions' %>
                        </td>
                    <% end %>
                    <td>
                        <%= link_to fa_icon('shopping-cart 2x', title: "Shopping Cart", text: "Shopping Cart"), cart_path %>
                    </td>
                    <td>
                        <%= link_to fa_icon('sign-out 2x', title: 'Logout', text: "Logout: #{current_user.email}"), destroy_user_session_path, method: :delete %>                     </td>
                <% else %>
                    <td>
                        <%= link_to fa_icon('sign-in 2x', title: 'Log In', text: 'Log In'), new_user_session_path %>
                    </td>
                    <td>
                        <%= link_to fa_icon('user-plus 2x', title: 'Register', text: 'Register'), new_user_registration_path %>
                    </td>
                <% end %>
            </tr>
        </table>
    </header>

    <body>
        <div class="messages">
            <p class="notice"><%= notice %></p>
            <p class="alert"><%= alert %></p>
        </div>
        <%= yield %>

        <footer class="main-footer">
            <%= image_tag '/GigFooter.png' %>
        </footer>
    </body>
</html>
