<div class="act-cards">
    <%= image_tag @act.image %>
    <h2><%= @act.name %></h2>
    <p><%= @act.description %></p>
    <% @act.keywords.each do |keyword| %>
        <a class="keyword" href="/search?term=<%= keyword.tag %>"><%= keyword.tag %></a>
    <% end %>
</div>


<h2 class='inline'>Upcoming Gigs</h2>
<article class='gig-cards'>
    <% @act.gigs.upcoming.each do |gig| %>
        <div>
            <a href="/gigs/<%= gig.id %>"><%= image_tag gig.act.image %></a>
            <h3><%= gig.act.name %> - Live at <%= gig.venue.name %></h3>
            <p class='gig-small'><%= gig.pretty_start %></p>
            <p class='gig-small'>£<%= gig.price %></p>
            <p><%= gig.paragraph %></p>
            <table>
                <% gig.reviews.sample(3).each do |review| %>
                    <tr>
                        <% review.stars_range.each do %>
                            <td class="star"></td>
                        <% end %>
                        <% review.no_stars_range.each do %>
                            <td class="no-star"></td>
                        <% end %>
                        <td><%= review.content %></td>
                    </tr>
                <% end %>
            </table>
            <% if gig.full? %>
                <form>
                    <input type='submit' disabled value='Sold Out'>
                </form>
            <% else %>
                <a href="/bookings/new/<%= gig.id %>">Book Now</a>
            <% end %>
        </div>
    <% end %>
</article>

<% @act.gigs.map{|gig| gig.reviews}.flatten.each do |review| %>
    <div class="gig-review">
        <ul>
            <li><h3><%= review.user.email %> - <%= review.created_at %></h3></li>
            <% review.stars_range.each do %>
                <li class="star"></li>
            <% end %>
            <% review.no_stars_range.each do %>
                <li class="no-star"></li>
            <% end %>
        </ul>
        <p><%= review.content %></p>
    </div>
<% end %>
